$primaryColor: #811333;

.container {
  padding: 24px;
  .title-container {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 36px;
    .title {
      font-size: 36px;
    }
  }
  .menu-list {
    display: flex;
    justify-content: center;
    .menu-item {
      padding: 10px 16px;
      background-color: transparent;
      color: white;
      display: inline-block;
      margin: 0 8px;
      border-radius: 16px;
      font-weight: 400;
      cursor: pointer;
      &.active {
        background-color: rgba($primaryColor, 1);
        color: white;
      }
    }
  }
}

.logo {
  width: 50px;
  height: 50px;
  margin: 8px;
  background-size: 50px;
  &.water-tribe {
    background-image: url('../assets/Water.png');
  }
  &.air-nomad {
    background-image: url('../assets/Air.png');
  }
  &.fire-nation {
    background-image: url('../assets/Fire.png');
  }
  &.earth-kingdom {
    background-image: url('../assets/Land.png');
  }
}

.date {
  font-size: 20px;
  margin-bottom: 24px;
}

.matches {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  text-align: center;
  color: white;
  .match {
    width: 600px;
    margin: 10px 0;
    border-radius: 10px;
    padding: 16px 0;
    background: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-top: 30px solid #0000007a;
    .game {
      position: absolute;
      top: -22px;
      font-size: 14px;
      text-align: center;
      width: 100%;
    }
    &:last-child {
      margin-bottom: 32px;
    }
  }
  .result {
    background-color: $primaryColor;
    color: white;
  }

  .players {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
    margin: 0 16px;
  }

  .fixture {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .vs {
    margin: 0 16px;
    font-size: 16px;
    width: 10%;
    .won {
      font-weight: 600;
    }
  }

  .team-one,
  .team-two {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    &.out {
      opacity: 0.3;
    }
  }

  .team-two {
    justify-content: flex-start;
  }

  .team-one .players {
    align-items: flex-end;
  }
}
