<nav class="navigation">
  <div class="container">
    <div class="title-container">
      <div class="title">Presidio Premier League</div>
      <div>2022</div>
    </div>
    <div class="menu-list">
      <div class="menu-item active">Today</div>
      <div class="menu-item">Results</div>
    </div>
  </div>
</nav>
<div class="logo fire-nation"></div>
<div class="logo air-nomad"></div>
<div class="logo earth-kingdom"></div>
<div class="logo water-tribe"></div>
<!-- <div class="matches">
  <div class="match" *ngFor="let match of today">
    <div>
      {{ match.game.name }}
    </div>
    <div>
      {{ match.game.type }}
    </div>
    <div>
      <div>
        <div *ngFor="let payer of match.teamOne.players">{{ payer }}</div>
      </div>
      <div>VS</div>
      <div>
        <div *ngFor="let payer of match.teamTwo.players">{{ payer }}</div>
      </div>
    </div>
    <div class="result">
      {{ match.result }}
    </div>
  </div>
</div> -->
