$primaryColor: #2ca467;

.container {
  $verticalPadding: 35px;
  padding-top: $verticalPadding;
  padding-bottom: $verticalPadding;
  background-image: url(../assets/bg.jpg);
  background-size: auto;
}
