$primaryColor: #811333;

.container {
  padding: 24px;
  .title-container {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    color: $primaryColor;
    font-weight: bold;
    margin-bottom: 36px;
    .title {
      font-size: 36px;
    }
  }
  .menu-list {
    display: flex;
    justify-content: center;
    .menu-item {
      padding: 10px 16px;
      background-color: transparent;
      border: 1px solid $primaryColor;
      color: $primaryColor;
      display: inline-block;
      margin: 0 8px;
      border-radius: 16px;
      font-weight: 400;
      &.active {
        background-color: rgba($primaryColor, 1);
        color: white;
      }
    }
  }
}

.logo {
  width: 75px;
  height: 75px;
  margin: 8px;
  background-size: 75px;
  &.water-tribe {
    background-image: url('../assets/Water.png');
  }
  &.air-nomad {
    background-image: url('../assets/Air.png');
  }
  &.fire-nation {
    background-image: url('../assets/Fire.png');
  }
  &.earth-kingdom {
    background-image: url('../assets/Land.png');
  }
}

.matches {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  text-align: center;
  .match {
    width: 100%;
    margin: 10px 0;
  }
  .result {
    background-color: $primaryColor;
    color: white;
  }

  .players {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
    margin: 0 16px;
  }

  .fixture {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .vs {
    margin: 0 16px;
    font-size: 16px;
    width: 10%;
  }

  .team-one,
  .team-two {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
  }

  .team-two {
    justify-content: flex-start;
  }

  .team-one .players {
    align-items: flex-end;
  }
}
