@font-face {
  font-family: 'James Fajardo';
  src: url('./assets/James_Fajardo.ttf');
}

body {
  font-family: 'Kdam Thmor Pro', sans-serif;
  height: 100vh;
  width: 100%;
  background-image: url('./assets/avatar1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: initial;
}
