body {
  font-family: 'Kdam Thmor Pro', sans-serif;
  background-color: #c8b49b;
  height: 100%;
  width: 100%;
}

.bg-left {
  background-image: url('assets/bg.jpg');
  background-size: 100%;
  width: 100px;
  height: 100%;
}
